body{
    background: rgb(1, 14, 68);
    color: white;
    font-family: 'Rubik',sans-serif;
    overflow-y: hidden;
}

h2{
    font-weight: 300;
    font-size: 25px;
}
p{
    font-size: 15px;
    font-weight: 100;
}

/* contianer */
.container{
    position: relative;
    margin: 50px 120px;
}

/* Main card */
.main-card{
    background: blue;
    border-radius: 10px;
    height: 200px;
    left: 125px;
    padding: 15px;
    position: relative;
    text-align: justify;
    top:130px;
    width: 120px;
    z-index: 10;
}
.main-card p{
    font-size: 12px;
    position: relative;
    top: 20px;
}
.main-card img{
    border: 2px solid white;
    border-radius: 50%;
}

/* Frequency list card */
.frequency{
    background: hsl(235, 46%, 20%);
    border-radius: 0px 0px 10px 10px;
    height: 120px;
    left:0px;
    width: 110px;
    margin: 20px auto;
    position: absolute;
    top: 205px;
    z-index: 1;
}
.frequency ul{
    padding: 0px;
}

.frequency li{
   
    color: rgb(153, 149, 149);
    cursor: pointer;
    font-size: 15px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 8px;
    position: relative;
    right: 30px;
    width: 50%;
}
.frequency li:hover{
    color: #fff;
}

/* work card */
.work-card{
    background: hsl(235, 46%, 20%);
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 140px;
    left:300px;
    width: 200px;
    margin: 20px auto;
    position: absolute;
    top: 140px;
    z-index: 1;
}

.work-card:hover{
    background: hsl(235, 45%, 61%);
}
.work{
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 10px;
    margin: 15px auto 15px 8px;
}

.hours{
    position: absolute;
    font-size: 35px;
    left: 15px;
    top: 50px;
    margin: 2px auto;
}
/* hours text */
.hours-text{
    bottom: 0px;
    color: rgb(196, 196 , 202);
    font-size: 12px;
    font-weight: 100;
    left: 15px;
    position: absolute;
}
/* dots */
.dots{
    font-size: 15px;
    top: 0px;
    left: 150px;
    position: absolute;
    color: rgb(196, 196 , 202);
}
.dots:hover{
    color: #fff;
    cursor: pointer;
}

.work-img-container{
    background: hsl(15, 100%, 70%);
    border-radius: 10px;
    left: 300px;
    overflow: hidden;
    position: absolute;
    top: 130px;
    width: 200px;
}
.work-img-container img{
    bottom: 10px;
    height: 60px;
    left: 135px;
    position: relative;
}

/* play card */
.play-card{
    background: hsl(235, 46%, 20%);
    border-radius: 10px 10px 10px 10px;
    height: 140px;
    left:520px;
    width: 200px;
    margin: 20px auto;
    position: absolute;
    top: 140px;
    z-index: 1;
}

.play-card:hover{
    background: hsl(235, 45%, 61%);
    cursor: pointer;
}

.play-img-container{
    background: hsl(195, 74%, 62%);
    border-radius: 10px;
    left: 520px;
    overflow: hidden;
    position: absolute;
    top: 130px;
    width: 200px;
}
.play-img-container img{
    bottom: 10px;
    height: 60px;
    left: 135px;
    position: relative;
}

/* study card */
.study-card{
    background: hsl(235, 46%, 20%);
    border-radius: 10px 10px 10px 10px;
    height: 140px;
    left:740px;
    width: 200px;
    margin: 20px auto;
    position: absolute;
    top: 140px;
    z-index: 1;
}
.study-card:hover{
    background: hsl(235, 45%, 61%);
    cursor: pointer;
}

.study-img-container{
    background: hsl(348, 100%, 68%);
    border-radius: 10px;
    left: 740px;
    overflow: hidden;
    position: absolute;
    top: 130px;
    width: 200px;
}
.study-img-container img{
    bottom: 10px;
    height: 60px;
    left: 135px;
    position: relative;
}

/* exercise card */
.exercise-card{
    background: hsl(235, 46%, 20%);
    border-radius: 10px 10px 10px 10px;
    height: 140px;
    left:300px;
    width: 200px;
    margin: 25px auto;
    position: absolute;
    top: 310px;
    z-index: 1;
}
.exercise-card:hover{
    background: hsl(235, 45%, 61%);
    cursor: pointer;
}
.exercise-img-container{
    background: hsl(145, 58%, 55%);
    border-radius: 10px;
    left: 300px;
    overflow: hidden;
    position: absolute;
    top: 310px;
    width: 200px;
}
.exercise-img-container img{
    bottom: 0px;
    height: 40px;
    left: 135px;
    position: relative;
}

/* social card */
.social-card{
    background: hsl(235, 46%, 20%);
    border-radius: 10px 10px 10px 10px;
    height: 140px;
    left: 520px;
    width: 200px;
    margin: 25px auto;
    position: absolute;
    top: 310px;
    z-index: 1;
}
.social-card:hover{
    background: hsl(235, 45%, 61%);
    cursor: pointer;
}
.social-img-container{
    background: hsl(264, 64%, 52%);
    border-radius: 10px;
    left: 520px;
    overflow: hidden;
    position: absolute;
    top: 310px;
    width: 200px;
}
.social-img-container img{
    bottom: 10px;
    height: 60px;
    left: 135px;
    position: relative;
}

/* self care card */
.self-card{
    background: hsl(235, 46%, 20%);
    border-radius: 10px 10px 10px 10px;
    height: 140px;
    left:740px;
    width: 200px;
    margin: 25px auto;
    position: absolute;
    top: 310px;
    z-index: 1;
}
.self-card:hover{
    background: hsl(235, 45%, 61%);
    cursor: pointer;
}
.self-img-container{
    background: hsl(43, 84%, 65%);
    border-radius: 10px;
    left: 740px;
    overflow: hidden;
    position: absolute;
    top: 310px;
    width: 200px;
    height: 80px;
}
.self-img-container img{
    height: 60px;
    left: 135px;
    position: relative;
}

/* Media queries */
/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
    .body{
        height: 100%;
    }
    /* contianer */
    .container{
        position: relative;
        margin: 50px 80px;
    }
    .main-card{
        height: 50px;
        width: 190px;
        left: 10px;
        margin: 0px 80px;
        position: relative;
        top: 0px;
        padding: 10px;
    }
    .main-card p{
        font-size: 8px;
        position: absolute;
        top: 10px;
        right: 70px;
    }
    .main-card h2{
        position: absolute;
        font-size: 15px;
        top: 20px;
        left: 55px;
        margin: 10px 25px;
        width: 100%;
    }
    /* frquency */
    .frequency{
        height: 40px;
        margin: 5px 0px;
        width: 170px;
        top: 70px;
    }
    .frequency ul{
        padding: 0px;
    }
    .frequency li{
        position: relative;
        display: inline;
        font-size: 12px;
        padding: 0px;
        margin: 20px 6px 2px 4px;
        right: 25px;
    }
    /* work card */
    .work-card{
        position: absolute;
        top: 130px;
        left: 10px;
        height: 80px;
        width: 210px;
        margin: 40px 80px;
    }
    .work-img-container{
        background: hsl(15, 100%, 70%);
        border-radius: 10px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 130px;
        width: 210px;
        margin: 10px 80px;
    }
    .work-img-container img{
        bottom: 10px;
        height: 60px;
        left: 135px;
        position: relative;
    }
    .hours{
        font-size: 20px;
        top:30px;
    }
    .hours-text{
        color: rgb(189, 184, 184);
        left: 100px;
        top: 25px;
    }
    /* play card */
    .play-card{
        position: absolute;
        top: 250px;
        left: 10px;
        height: 80px;
        width: 210px;
        margin: 40px 80px;
    }
    .play-img-container{
        background: hsl(195, 74%, 62%);
        border-radius: 10px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 250px;
        width: 210px;
        margin: 10px 80px;
    }
    .play-img-container img{
        bottom: 10px;
        height: 60px;
        left: 135px;
        position: relative;
    }

     /* study card */
     .study-card{
        position: absolute;
        top: 370px;
        left: 10px;
        height: 80px;
        width: 210px;
        margin: 40px 80px;
    }
    .study-img-container{
        background: hsl(348, 100%, 68%);
        border-radius: 10px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 370px;
        width: 210px;
        margin: 10px 80px;
    }
    .study-img-container img{
        bottom: 10px;
        height: 60px;
        left: 135px;
        position: relative;
    }
    /* exercise card */
    .exercise-card{
        position: absolute;
        top: 490px;
        left: 10px;
        height: 80px;
        width: 210px;
        margin: 40px 80px;
    }
    .exercise-img-container{
        background: hsl(145, 58%, 55%);
        border-radius: 10px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 490px;
        width: 210px;
        margin: 10px 80px;
    }
    .exercise-img-container img{
        bottom: 10px;
        height: 60px;
        left: 135px;
        position: relative;
    }
     /* social card */
     .social-card{
        position: absolute;
        top: 610px;
        left: 10px;
        height: 80px;
        width: 210px;
        margin: 40px 80px;
    }
    .social-img-container{
        background: hsl(264, 64%, 52%);
        border-radius: 10px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 610px;
        width: 210px;
        margin: 10px 80px;
    }
    .social-img-container img{
        bottom: 10px;
        height: 60px;
        left: 135px;
        position: relative;
    }
     /* self card */
     .self-card{
        position: absolute;
        top: 730px;
        left: 10px;
        height: 80px;
        width: 210px;
        margin: 40px 80px;
    }
    .self-img-container{
        background: hsl(43, 84%, 65%);
        border-radius: 10px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 730px;
        width: 210px;
        margin: 10px 80px;
    }
    .self-img-container img{
        bottom: 10px;
        height: 60px;
        left: 135px;
        position: relative;
    }
  }